 .window {
	 background-color: #fff;
	 border: 3px solid #d3d3d3;
	 box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.43);
	 border-radius: 5px;
}
 .window code {
	 line-height: 1.5;
}
 .window code span {
	 color: #b71c1c;
}
 .window .topbar {
	 height: 30px;
	 width: 100%;
	 background-color: #d3d3d3;
	 display: flex;
	 align-items: center;
}
 .window .topbar .close {
	 height: 10px;
	 width: 10px;
	 background-color: #f74544;
	 border-radius: 50%;
	 margin-left: 15px;
	 border: 1px solid #f62726;
}
 .window .topbar .hide {
	 height: 10px;
	 width: 10px;
	 background-color: #fbaf15;
	 border-radius: 50%;
	 margin-left: 10px;
	 border: 1px solid #f1a304;
}
 .window .topbar .full {
	 height: 10px;
	 width: 10px;
	 background-color: #38c228;
	 border-radius: 50%;
	 margin-left: 10px;
	 border: 1px solid #32af24;
}
